body {
}
img{
    max-width: 100%;
    height: auto;
    background-color:inherit;
}
#header, #footer {
    background-color: #edb561;
}
#submitButton, #homepageButton {
    background-color: #edb561;
    border-color:inherit;
}